<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Change Password Alert</title>
</head>

<body>
  <h3>Hello {{ name }}! </h3>
  <p>This is a reminder to change your password. According to our password policy, passwords must be changed every 90
    days for security reasons.Your password will be expiry with in 7 days.</p>
  <p>Please go to your account settings and update your password.</p>
  <p>If you have already changed your password recently, you can ignore this email.</p>
  <h3>Thanks</h3>
</body>

</html>