<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>OTP</title>
</head>
<body>
  <h3>Hello {{ name }}! </h3>
  <p>Your login OTP is: {{otp}} and valid for 5 minutes. </p>
  <h3>Thanks</h3>
</body>
</html>